.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  background: none;
  min-width: 0;
  padding: 0px 16px 16px;
}
.menu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.menu > :global(.__wab_flex-container) > *,
.menu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menu > :global(.__wab_flex-container) > picture > img,
.menu > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu {
    width: 100%;
    min-width: 0;
    padding: 4px 32px 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__x4DsL {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200%;
  height: 100vh;
  max-width: 100%;
  left: auto;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  transform: translateX(0px) translateY(-100%) translateZ(0px);
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.4s;
  padding: 0px;
}
.freeBoxreserveOpen__x4DsLvh5Pf {
  opacity: 1;
  transform: translateX(0px) translateY(0%) translateZ(0px);
}
.freeBox__myK3G {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: -1px;
  top: -1px;
  background: #00000059;
  min-width: 0;
  min-height: 0;
}
.freeBoxreserveOpen__myK3Gvh5Pf {
  background: #00000080;
}
.freeBox__qAoj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  height: auto;
  max-width: 600px;
  left: auto;
  top: auto;
  background: #ffffff;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__uv1V8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 600px;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  z-index: 5;
  padding: 24px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__tWalc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nrClB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 8px;
  min-width: 0;
  padding: 8px;
}
.text___3HsWp {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 12px;
  min-width: 0;
}
.dateTimePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  align-self: auto;
}
.freeBox___01Rjr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.text___1T0PS {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dateTimePicker2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__x02Yg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 24px;
  min-width: 0;
  padding: 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__uNgpn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__oFg53 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.errorMessage:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.errorMessagereserveOpen:global(.__wab_instance) {
  height: 100%;
  min-height: 0;
  margin: 10px;
}
.menuBar {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1130px;
  background: none;
  min-width: 0;
  padding: 25px 0px 0px;
}
.menuBar > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.menuBar > :global(.__wab_flex-container) > *,
.menuBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menuBar > :global(.__wab_flex-container) > picture > img,
.menuBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuBar {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuBar > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuBar > :global(.__wab_flex-container) > *,
  .menuBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .menuBar > :global(.__wab_flex-container) > picture > img,
  .menuBar
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 50px;
  filter: invert(100%);
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__u8N4E {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__u8N4E > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__u8N4E > :global(.__wab_flex-container) > *,
.freeBox__u8N4E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u8N4E > :global(.__wab_flex-container) > picture > img,
.freeBox__u8N4E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u8N4E > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u8N4E > :global(.__wab_flex-container) > *,
  .freeBox__u8N4E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__u8N4E > :global(.__wab_flex-container) > picture > img,
  .freeBox__u8N4E
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__fl7P {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__fl7P > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__fl7P > :global(.__wab_flex-container) > *,
.link__fl7P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__fl7P > :global(.__wab_flex-container) > picture > img,
.link__fl7P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__fl7P {
    padding: 0px;
  }
}
.svg___9MTxr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__lCRqN {
  color: var(--token-mLo3J0EWwMuG);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lCRqN {
    color: var(--token-mLo3J0EWwMuG);
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 13px;
  }
}
.svg__seyl1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__w2Kol {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__w2Kol > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__w2Kol > :global(.__wab_flex-container) > *,
.link__w2Kol > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__w2Kol > :global(.__wab_flex-container) > picture > img,
.link__w2Kol
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__w2Kol {
    padding: 0px;
  }
}
.svg__jsxGm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___1Jdz {
  color: var(--token-mLo3J0EWwMuG);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1Jdz {
    font-size: 13px;
  }
}
.svg__p14P {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__sgBcz {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__sgBcz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__sgBcz > :global(.__wab_flex-container) > *,
.link__sgBcz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__sgBcz > :global(.__wab_flex-container) > picture > img,
.link__sgBcz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__sgBcz {
    padding: 0px;
  }
}
.svg__shSz5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__uh6R6 {
  color: var(--token-mLo3J0EWwMuG);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uh6R6 {
    font-size: 13px;
  }
}
.svg___7PIf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__ptr7K {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__ptr7K > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__ptr7K > :global(.__wab_flex-container) > *,
.link__ptr7K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ptr7K > :global(.__wab_flex-container) > picture > img,
.link__ptr7K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ptr7K {
    padding: 0px;
  }
}
.svg__agE02 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__ods2M {
  color: var(--token-mLo3J0EWwMuG);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ods2M {
    color: var(--token-mLo3J0EWwMuG);
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 13px;
  }
}
.svg__ebkGc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__kwDor {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__kwDor > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__kwDor > :global(.__wab_flex-container) > *,
.link__kwDor > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__kwDor > :global(.__wab_flex-container) > picture > img,
.link__kwDor
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__kwDor {
    padding: 0px;
  }
}
.svg___6HF6T {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__euIo {
  color: var(--token-mLo3J0EWwMuG);
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 17px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__euIo {
    font-size: 13px;
  }
}
.svg__m7ZA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
